<mat-toolbar color="primary" class="secondToolbar" [ngClass]="{ sticky: true }">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon (click)="goToDashboard()">arrow_back</mat-icon>
  </button>
  <span>IDIOMS AND PHRASES</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent">Refresh</button>
</mat-toolbar>

<div style="padding-top: 5%">
  <mat-card *ngFor="let data of resArr; let i = index" [attr.data-index]="i">
    <mat-card-content>{{ i + 1 }} {{ data.key }}</mat-card-content>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let newOptions of data.options"
        [value]="newOptions"
        (change)="onChangeRadio($event, i)"
      >
        {{ newOptions }}
      </mat-radio-button>
    </mat-radio-group>
    <!-- <div>Your favorite season is: {{ favoriteSeason }}</div> -->
  </mat-card>
  <button (click)="onSubmit()">Submit</button>
</div>
