<mat-toolbar
  color="primary"
  class="secondToolbar"
  [ngClass]="{ sticky: true }"
  style="display: flex"
>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon (click)="goToDashboard()">arrow_back</mat-icon>
  </button>
  <span style="font-size: 15px">{{ headerName }}</span>
  <span class="example-spacer"></span>
  <button
    mat-raised-button
    style="margin-right: 5px"
    color="accent"
    (click)="onSubmit()"
  >
    Submit
  </button>
  <!-- <button mat-raised-button color="accent" (click)="onClickRefresh()">
    Refresh
  </button> -->
  <div style="font-size: 14px">
    <mat-form-field appearance="fill">
      <mat-label style="width: 10px">Refresh </mat-label>
      <mat-select (selectionChange)="selectionChange($event)">
        <mat-option value="25">25 question</mat-option>
        <mat-option value="35">35 question</mat-option>
        <mat-option value="50">50 question</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>

<div class="topclass">
  <mat-card *ngFor="let data of resArr; let i = index" [attr.data-index]="i">
    <mat-card-content>{{ i + 1 }} {{ data.key }}</mat-card-content>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
    >
      <mat-radio-button
        style="margin: 5px"
        class="{{ newOptions.class }}"
        *ngFor="let newOptions of data.options"
        [value]="newOptions.value"
        (change)="onChangeRadio($event, i)"
      >
        {{ newOptions.value }}
      </mat-radio-button>
    </mat-radio-group>
    <!-- <div>Your favorite season is: {{ favoriteSeason }}</div> -->
  </mat-card>
</div>
