<div>
    <p>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon (click)="goToDashboard()">arrow_back</mat-icon>
            </button>
            <span>IDIOMS AND PHRASES</span>
            <span class="example-spacer"></span>
            <button mat-raised-button color="accent">Refresh</button>

        </mat-toolbar>
    </p>

    <div>
        <mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card>
        <!-- COPIED -->
        <mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card><mat-card>
            <mat-card-content>Q 1. Out of the options which is not a season?</mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
        </mat-card>
    </div>

</div>