.example-spacer {
    flex: 1 1 auto;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  

  .header {
    height: 200px;
    width: 100%;
  }

.secondToolbar {
  position: fixed;
  top: 0;
  height: 0;
  opacity: 0;
  cursor: default;
  user-select: none;
}

.sticky {
height: 64px;
opacity: 1;
z-index: 10;
}

.c1{
  color:green;
}
.c2{
  color:red;
}
.mat-card-content{
  word-wrap: break-word;
}
.topclass{
  padding-top: 5%;
  width: auto;
}
/* npm run build ,, firebase deploy */
@media only screen and (max-width: 600px) {
  .topclass {
    padding-top: 14%;
  }
  .mat-radio-label{
    white-space: normal !important;
  }

  :host ::ng-deep .mat-radio-label-content{
    white-space: normal !important;
}
:host ::ng-deep .mat-form-field-infix{
  width: 100px;
}
  /* #mat-select-0-panel{
    bottom: 0 !important;
  } */
  
}