<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>IDIOMS AND PHRASES</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../assets/media1.jpg" alt="Idioms hai sale" />
  <mat-card-content>
    <p style="text-align: center">
      <b>IDIOMS AND PHRASE</b>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button click="{goToTest}">Go To Test</button>
  </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>
